/* IDEA: the html targets */
body{
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
h1{
  margin-left: 5%;
  font-size: 4rem;
  font-family: 'Oleo Script Swash Caps';
}

/* IDEA: this will srtyle the clock rectangle in the middle */
.clock{
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 3% auto;
  margin-top: 0;
  width: 50%;
  text-align: center;
  height: 100px;
  padding: 4% 3%;
  font-size: 7rem;
  border-radius: 2%;
  font-weight: 800;

  /* border-style: outset; */
}

/* IDEA: this is the div the clock is in */
.box{
  margin: 15% auto;
  padding: 3% ;
}

/* IDEA: this centers the form above the clock */
.header{
  font-size: 3rem;
  text-align: center;
}

.hidden{
  display: none;
}


.myButton{
  text-align: center;
  margin: auto auto;
  padding: 10px 100px;
}

#money{
  padding: 1%;
}

/* IDEA: this will make sure the money amount never
leaves the box area */
@media  (max-width: 631px){
  .clock{
    font-size: 5.5rem;
  }
}

@media  (max-width: 575px){
  .clock{
    font-size: 5em;
  }
}
